<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    
        <h2>Sign Up</h2>
        <form action="/user" method="post">
          <label>Full Name:</label>
          <input type="text" name="name" required>
        
          <label>Email:</label>
          <input type="text" name="email" required>
    
          <label>Password:</label>
          <input type="text" name="password" required>
    
          <button type="submit">SignUp</button>
        </form>
      

</body>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    
        <h2>Sign Up</h2>
        <form action="/user" method="POST">
          <label for="fullName">Full Name:</label>
          <input type="text" name="name" required>
        
          <label for="email">Email:</label>
          <input type="email" name="email" required>
    
          <label for="password">Password:</label>
          <input type="password" name="password" required>
    
          <button type="submit">Sign Up</button>
        </form>
      

</body>
>>>>>>> 29ca8afc9e56bf81831b0044e73f7ea95e498753
</html>